__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

.ipynb_checkpoints/
.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

cox_resultater/
cox_resultater_alle_aldre/
*_chunk_*.parquet
results_phewas_AG*.parquet
results_phewas_HN*.parquet
results_phewas_OY*.parquet

*.csv
del_*.csv
kohort*.parquet
